.news-4col{

div p:last-child{
    background-color: #4cc2f3;
    padding:15px;
    margin-bottom: 0;
    text-align: left;
}
.glyphicon{
    font-size:22px;
}
div  p:last-child a{
    color:@baseFontColor2;
}
.news-btn__text{
    color:@baseFontColor2;
}
div{
    background-color:#f7f7f7;
    padding:@basePadding - 6;
}
img{
    width: @fullwidth;
}
}

