.widget-small{
    img{
        width:100%;
    }
    .widget-small__title{
        background-color: @baseBgColor2;
        padding:10px;
        text-align:center;
        text-transform: uppercase;
    }
}