<!DOCTYPE html>
<html lang="en">
<head>
    <title>Component</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <![endif]-->
    <!-- BEGIN STYLESHEETS -->
    <link href="../../css/globals.css" rel="stylesheet" type="text/less">

    <!-- END STYLESHEETS -->
</head>

<body>
<div class="container">
      <div class="row">
            <div class="col-md-3">
                <div class="widget-small">
                    <img src="../../images/placeholder.jpg">
                    <p class="widget-small__title">Classes Title</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small">
                    <img src="../../images/placeholder.jpg">
                    <p class="widget-small__title">Classes Title</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small">
                    <img src="../../images/placeholder.jpg">
                    <p class="widget-small__title">Classes Title</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small">
                    <img src="../../images/placeholder.jpg">
                    <p class="widget-small__title">Classes Title</p>
                </div>
            </div>
        </div>
    
</div>
</body>
</html>