<!DOCTYPE html>
<html lang="en">
<head>
    <title>Component</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <![endif]-->
    <!-- BEGIN STYLESHEETS -->
    <link href="../../css/globals.css" rel="stylesheet" type="text/less">

    <!-- END STYLESHEETS -->
</head>

<body>

<div class="container">
        <ul class="vert-list list-unstyled">
            <li>
                <h4>News Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span><a href="#">Read More</a></span>
            </li>
            <li>
                <h4>News Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span><a href="#">Read More</a></span>
            </li>
            <li>
                <h4>News Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span><a href="#">Read More</a></span>
            </li>
        </ul>
    
</div>
</body>
</html>