<!DOCTYPE html>
<html lang="en">
<head>
    <title>Component</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <![endif]-->
    <!-- BEGIN STYLESHEETS -->
    <link href="../../css/globals.css" rel="stylesheet" type="text/less">

    <!-- END STYLESHEETS -->
</head>

<body>
<div class="block-rule">
  <div class="container">
     
          <div class="text-center">
              <div class="col-md-7">
            <h4 class="block-title">Responsive Design with Clean, Flat Interface</h4>
              </div>
          
          
          <div class="col-md-4">
            <p><a class="btn btn-md btn-primary btn-green" href="#" role="button">BUY NOW</a></p>
          </div>
              </div>
    
  </div>
</div>
</body>
</html>